{% extends "layout.html" %}
{% set title = 'PyTango documentation' %}

{% set script_files = script_files + ["https://code.jquery.com/jquery-1.12.4.min.js",
                                      "_static/jssor.js",
                                      "_static/jssor.slider.js",
                                      "_static/gallery.js", ] %}


{% block body %}

<h1>Welcome to PyTango documentation!</h1>

<p>
  PyTango is a python module that exposes to <a class="reference external" href="https://www.python.org">Python</a>
  the complete <a class="reference external" href="https://tango-controls.github.io/cppTango-docs/index.html">Tango C++ API</a>.
  This means that you can write not only tango applications (scripts, CLIs, GUIs)
  that access tango device servers but also tango device servers themselves, all
  of this in pure python.
</p>

<div id="gallery" style="position:relative; top:0px; left:0px; width:610px; height:415px; margin:auto;">

  <div u="slides" style="cursor: move; position:absolute; top:0px; left:0px; width: 610px; height: 415px; overflow: hidden;">

    <div style="background:white;"><img src="_static/banner1.png"/></div>

    <div style="background:white;"><iframe src="_static/ipython_tango.html" style="width:600px; height:411px;border: 0;"></iframe></div>

    <div style="background:white;"><iframe src="_static/ipython_db.html" style="width:600px; height:411px;border:0;"></iframe></div>

    <div style="background:white;"><iframe src="_static/ipython_motor.html" style="width:600px; height:411px;border:0;"></iframe></div>

    <div style="background:white;"><iframe src="_static/ipython_serial.html" style="width:600px; height:411px;border:0;"></iframe></div>

    <!-- 6th item -->
    <div style="background: white;">
      <table style="width:100%;"><tr><td>
<div class="highlight-python"><div class="highlight"><pre style="font-size: 10px;">
<span class="c"># ----------------- server ------------------</span>

<span class="kn">import</span> <span class="nn">time</span>

<span class="kn">from</span> <span class="nn">PyTango.server</span> <span class="kn">import</span> <span class="n">server_run</span>
<span class="kn">from</span> <span class="nn">PyTango.server</span> <span class="kn">import</span> <span class="n">Device</span><span class="p">,</span> <span class="n">DeviceMeta</span>
<span class="kn">from</span> <span class="nn">PyTango.server</span> <span class="kn">import</span> <span class="n">attribute</span><span class="p">,</span> <span class="n">command</span>


<span class="k">class</span> <span class="nc">Clock</span><span class="p">(</span><span class="n">Device</span><span class="p">):</span>

    <span class="n">time</span> <span class="o">=</span> <span class="n">attribute</span><span class="p">()</span>

    <span class="k">def</span> <span class="nf">read_time</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">time</span><span class="o">.</span><span class="n">time</span><span class="p">()</span>

    <span class="nd">@command</span><span class="p">(</span><span class="n">dtype_in</span><span class="o">=</span><span class="nb">str</span><span class="p">,</span> <span class="n">dtype_out</span><span class="o">=</span><span class="nb">str</span><span class="p">)</span>
    <span class="k">def</span> <span class="nf">strftime</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">tformat</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">time</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="n">tformat</span><span class="p">)</span>

<span class="k">if</span> <span class="n">__name__</span> <span class="o">==</span> <span class="s">"__main__"</span><span class="p">:</span>
    <span class="n">server_run</span><span class="p">((</span><span class="n">Clock</span><span class="p">,))</span>

</pre></div>
</div>

  </td>
  <td>

<div class="highlight-python"><div class="highlight"><pre style="font-size: 10px;">
<span class="c">$ # ---------------- client -----------------</span>

<span class="n">$ python</span>

<span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">PyTango</span> <span class="kn">import</span> <span class="n">DeviceProxy</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">clock</span> <span class="o">=</span> <span class="n">DeviceProxy</span><span class="p">(</span><span class="s">"my/first/clock"</span><span class="p">)</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">clock</span><span class="o">.</span><span class="n">time</span>
<span class="go">1384447223.774121</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">clock</span><span class="o">.</span><span class="n">read_attribute</span><span class="p">(</span><span class="s">"time"</span><span class="p">)</span><span class="o">.</span><span class="n">value</span>
<span class="go">1384447252.037578</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">clock</span><span class="o">.</span><span class="n">strftime</span><span class="p">(</span><span class="s">"%H:%M:%S"</span><span class="p">)</span>
<span class="go">'17:41:50'</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">clock</span><span class="o">.</span><span class="n">command_inout</span><span class="p">(</span><span class="s">"strftime"</span><span class="p">,</span>
<span class="gp">... </span>                    <span class="s">"%H:%M:%S"</span><span class="p">)</span>
<span class="go">'17:43:12'</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">clock</span><span class="o">.</span><span class="n">status</span><span class="p">()</span>
<span class="go">'The device is in UNKNOWN state.'</span>

</pre></div></div>
    </td></tr></table>
  </div>

  <!-- 7th item -->
  <div>

  <table style="width:100%;  background: white;"><tr>
  <td>

<div class="highlight-python"><div class="highlight"><pre style="font-size: 10px;">
<span class="gp">&gt;&gt;&gt; </span><span class="c"># ---------- gevent client -----------</span>

<span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">PyTango.gevent</span> <span class="kn">import</span> <span class="n">DeviceProxy</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">dev</span> <span class="o">=</span> <span class="n">DeviceProxy</span><span class="p">(</span><span class="s">"sys/tg_test/1"</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">dev</span><span class="o">.</span><span class="n">get_green_mode</span><span class="p">()</span>
<span class="go">PyTango.GreenMode.Gevent</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Synchronous but green!</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">dev</span><span class="o">.</span><span class="n">state</span><span class="p">())</span>
<span class="go">RUNNING</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Asynchronous</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">res</span> <span class="o">=</span> <span class="n">dev</span><span class="o">.</span><span class="n">state</span><span class="p">(</span><span class="n">wait</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="p">)</span>
<span class="go">&lt;gevent.event.AsyncResult at 0x1a74050&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">get</span><span class="p">())</span>
<span class="go">RUNNING</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Synchronous, but green!</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">dev</span><span class="o">.</span><span class="n">long_scalar</span><span class="p">)</span>
<span class="go">832</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Asynchronous</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">res</span> <span class="o">=</span> <span class="n">dev</span><span class="o">.</span><span class="n">read_attribute</span><span class="p">(</span><span class="s">"long_scalar"</span><span class="p">,</span>
<span class="gp">... </span>                         <span class="n">wait</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="p">)</span>
<span class="go">&lt;gevent.event.AsyncResult at 0x1a9f54&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">get</span><span class="p">())</span>
<span class="go">126</span>
</pre></div>
</div>

  </td>
  <td>

<div class="highlight-python"><div class="highlight"><pre style="font-size: 10px;">
<span class="gp">&gt;&gt;&gt; </span><span class="c"># ----- concurrent.futures client -----</span>

<span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">PyTango.futures</span> <span class="kn">import</span> <span class="n">DeviceProxy</span>

<span class="gp">&gt;&gt;&gt; </span><span class="n">dev</span> <span class="o">=</span> <span class="n">DeviceProxy</span><span class="p">(</span><span class="s">"sys/tg_test/1"</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">dev</span><span class="o">.</span><span class="n">get_green_mode</span><span class="p">()</span>
<span class="go">PyTango.GreenMode.Futures</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Synchronous</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">dev</span><span class="o">.</span><span class="n">state</span><span class="p">())</span>
<span class="go">RUNNING</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Asynchronous</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">res</span> <span class="o">=</span> <span class="n">dev</span><span class="o">.</span><span class="n">state</span><span class="p">(</span><span class="n">wait</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="p">)</span>
<span class="go">&lt;Future at 0x34a9e51 state=pending&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">result</span><span class="p">())</span>
<span class="go">RUNNING</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Synchronous</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">dev</span><span class="o">.</span><span class="n">long_scalar</span><span class="p">)</span>
<span class="go">832</span>

<span class="gp">&gt;&gt;&gt; </span><span class="c"># Asynchronous</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">res</span> <span class="o">=</span> <span class="n">dev</span><span class="o">.</span><span class="n">read_attribute</span><span class="p">(</span><span class="s">"long_scalar"</span><span class="p">,</span>
<span class="gp">... </span>                         <span class="n">wait</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="p">)</span>
<span class="go">&lt;Future at 0x5d8a17b state=pending&gt;</span>
<span class="gp">&gt;&gt;&gt; </span><span class="k">print</span><span class="p">(</span><span class="n">res</span><span class="o">.</span><span class="n">result</span><span class="p">())</span>
<span class="go">126</span>
</pre></div>
</div>

  </td>
  </tr></table>

  </div>

  </div> <!-- end of slide items -->

  <!-- Arrow Navigator Skin Begin -->
  <style>
        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l              (normal)
        .jssora03r              (normal)
        .jssora03l:hover        (normal mouseover)
        .jssora03r:hover        (normal mouseover)
        .jssora03ldn            (mousedown)
        .jssora03rdn            (mousedown)
        */
        .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
        {
        	position: absolute;
        	cursor: pointer;
        	display: block;
            background: url(_static/arrow03.png) no-repeat;
            overflow:hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03ldn { background-position: -243px -33px; }
        .jssora03rdn { background-position: -303px -33px; }

  </style>
  <!-- Arrow Left -->
  <span u="arrowleft" class="jssora03l" style="width: 55px; height: 55px; top: 123px; left: 8px;">
  </span>
  <!-- Arrow Right -->
  <span u="arrowright" class="jssora03r" style="width: 55px; height: 55px; top: 123px; right: 8px">
  </span>

</div>

<p>
    Check out the <a class="reference internal" href="start.html#getting-started"><em>getting started guide</em></a>
    to learn how to build and/or install PyTango and after that the <a class="reference internal" href="quicktour.html#quick-tour"><em>quick tour</em></a>
    can help you with the first steps in the PyTango world.
    If you need help understanding what Tango itself really is, you can check the
    <a class="reference external" href="https://www.tango-controls.org/">Tango</a>
    homepage where you will find plenty of documentation, FAQ and tutorials.

</p>

<h1 class="title">Report a bug</h1>
<p>Bugs can be reported as issues in <a class="reference external" href="https://gitlab.com/tango-controls/pytango/issues">PyTango GitLab</a>.</p>
<p>It is also helpful if you can put in the issue description the PyTango information.
It can be a dump of:</p>
<pre class="code console literal-block">
<span class="generic prompt">$ </span>python<span class="whitespace"> </span>-c<span class="whitespace"> </span><span class="literal string double">&quot;from tango.utils import info; print(info())&quot;</span>
</pre>

{% endblock %}
